<% include ./head %>

<body> <!-- start body -->
    <header>

        <!-- Primary Menu -->
        <div id="header-menu" class="ui inverted vertical segment">
            <div class="ui inverted secondary pointing menu borderless">
                <div class="ui container">
                    <div class="item" style="padding-left: 0;">
                        <div class="ui small image">
                            <img src="/images/logo.png">
                        </div>
                        <div style="margin-left: 50px;" class="middle aligned content">
                            <div class="ui inverted secondary pointing menu borderless">

                            <% menu.forEach((item) => { %>

                                <% if ( t(`${item}.title`) == title) { %>
                                        
                                    <a href="<%= t(`${item}.url`) %>" class="item active">
                                        <%= t(`${item}.title`) %>
                                    </a>

                                <% } else { %>

                                    <a href="<%= t(`${item}.url`) %>" class="item">
                                        <%= t(`${item}.title`) %>
                                    </a>

                                <% } %>

                            <% }); %>

                            </div>
                        </div>
                    </div>
                    <div id="header-button" class="right menu ui middle aligned inverted column centered grid">
                        <div class="column">
                            <a href="<%=t('item.add.url')%>" class="ui primary button"><%=t('item.add.main_btn')%></a>
                        </div>
                    </div>
                </div>
            </div>
          </div>

    </header>
    <main> <!-- start main -->