<% include ../partials/header %>

<div class="ui container segment">
    <h1 class="ui header"><%=t('contact.title')%>
        <div class="sub header"><%=t('contact.description')%></div>
    </h1>

    <div class="ui three column doubling grid">
        <div class="column middle aligned">
            <h2 class="ui small right floated icon header">
                <i class="circular users icon"></i>
                <%=t('contact.opts.friend')%>
            </h2>
        </div>
        <div class="column">
            <h2 class="ui center aligned icon header">
                <i class="circular outline envelope icon"></i>
                <div class="content">
                    <%=t('contact.opts.email')%>
                    <div class="sub header"><%=t('contact.opts.primary')%></div>
                </div>
            </h2>
        </div>
        <div class="column middle aligned">
            <h2 class="ui small icon header">
                <i class="circular paper plane icon"></i>
                <%=t('contact.opts.message')%>
            </h2>
        </div>  
    </div>
</div>

<% include ../partials/footer %>