<% include ../partials/header %>

<div class="ui vertical masthead aligned segment">
    <div class="ui container segment">

        <h1 class="ui header"><%=t('item.add.title')%>
                <div class="sub header"><%=t('item.add.description')%></div>
        </h1>

        <div class="ui form">
            <div class="field">
                <label><%=t('item.add.form_word')%></label>
                <input id="word" type="text">
            </div> 
            <div class="field">
                <label><%=t('item.add.form_cat')%></label>
                <select id="category" class="ui dropdown">
                    <option value="1"><%=t('dictionary.category.cat_1')%></option>
                    <option value="2"><%=t('dictionary.category.cat_2')%>i</option>
                    <option value="3"><%=t('dictionary.category.cat_3')%></option>
                    <option value="4"><%=t('dictionary.category.cat_4')%></option>
                </select>
            </div>
            <div class="field">
                <label><%=t('item.add.form_desc')%></label>
                <textarea id="desc"></textarea>
            </div>
            <button id="actionBtn" data-up="false" class="ui button"><%=t('item.add.form_btn')%></button>
        </div>
    </div>
</div>

<script src="/js/client.js"></script>

<% include ../partials/footer %>